#dashboard-summary { 
    position: fixed;
    left: 0%;
    top:0%;
}

#weather-summary { 
    position: fixed;
    right: 0%;
    top:0%;
}

#greeting-summary { 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#calendar-summary { 
    position: fixed;
    left: 0%;
    bottom: 0%;
}

#news-summary { 
    position: fixed;
    right:0%; 
    bottom: 0%;
}