#settings-widget {
    background: lightblue;
    width: 500px;
    height: 700px;
    padding: 20px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 8px;

    text-align: center;
}