#greeting-summary {
    background: lightblue;
    text-align: center;
    width: 700px;
    height: 150px;
    border-radius: 7px;
}

#greeting-text {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

#greeting-text h1 {
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}