#news-summary {
    background: lightsalmon;
    height: 150px;
    width: 240px;
    padding: 20px;
    margin: 15px;
    border-radius: 7px;
}

#news-heading {
    text-align: center;
    margin-bottom: 10px;
}

#news-body {
    height: 130px;
    overflow: scroll;
}

.news-article {
    display: grid;
    grid-template-columns: 25% 75%;
}

.news-headline {
    padding-left: 12px;
    font-size: 0.7em;
}

hr {
    border: 0.5px solid grey;
    width: 60%;
}