/*  GRID SETTINGS   */
#weather-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 65% 35%;
    grid-template-areas: 
        'icon temperature'
        'brief brief';
}

#weather-icon { grid-area: icon; }
#weather-temperature { grid-area: temperature; }
#weather-brief { grid-area: brief; }


/*  MAIN CSS    */

#weather-summary {
    background: lightcoral;
    height: 150px;
    width: 240px;
    padding: 20px;
    margin: 15px;
    border-radius: 7px;

    text-align: center;

    cursor: pointer;
}

#weather-heading {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    margin-bottom: 10px;
}

#weather-icon img {
    width: 100%;
    height: 100%;
}

#weather-temperature {
    font-size: 1.5em;
}

#weather-brief {
    font-size: 2em;
}

#weather-icon div,
#weather-temperature div {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}